{% extends "base.html" %}
<!---->
{% block contant %}
<div class="container">
  <h1>หน้าสำหรับทดสอบ</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock contant %}
